<template>
  <div class="home-page">
    <el-row :gutter="20">
      <el-col :span="24">
        <div class="search-part">
          <div class="input-bar">
            <el-input
                    :placeholder="$t('i18n.searchKeyWord')"
                    v-model="searchText"
                    suffix-icon="el-icon-search"
            >
            </el-input>
          </div>
          <div style="flex:1"></div>
          <div class="user-bar">
            <div class="user-tip-icon" @click="i18nIsZh = !i18nIsZh"></div>
            <div class="user-tip-name">张三</div>
            <div class="user-tip-author">{{$t('i18n.admin')}}</div>
            <div class="user-tip-author">
              <i class="el-icon-arrow-down"/>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="11">
        <div class="my-work-part">
          <div class="my-title-temp">
            <div class="my-title-pre">
              <div class="title-icon1-temp">
                <i class="el-icon-document"/>
              </div>
              <div class="title-text1-temp">{{$t('i18n.work')}}</div>
            </div>
            <div class="title-flex1-temp"></div>
            <div class="my-title-suf">
              <div class="title-text2-temp">{{$t('i18n.details')}}</div>
              <div class="title-icon2-temp">
                <i class="el-icon-d-arrow-right"/>
              </div>
            </div>
          </div>
          <el-card shadow="hover" class="full-height">
            <div class="my-content-temp">
              <div class="flex-ul" v-for="(item,index) in tableData" :key="index">
                <div class="flex-li box-border" style="width: 10%">{{item.num}}</div>
                <div class="flex-li box-border" :title="item.content" style="width: 30%">
                  {{item.content}}
                </div>
                <div class="flex-li box-border" :title="item.line" style="width: 30%">{{item.line}}
                </div>
                <div class="flex-li box-border" :title="item.time" style="width: 20%">{{item.time}}
                </div>
                <div class="flex-li box-border" style="width: 10%">{{item.value}}</div>
              </div>
            </div>
          </el-card>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="my-airplane-part">
          <div class="my-title-temp">
            <div class="my-title-pre">
              <div class="title-icon1-temp">
                <div class="airplane-icon"></div>
              </div>
              <div class="title-text1-temp">{{$t('i18n.flightOverview')}}</div>
            </div>
            <div class="title-flex1-temp"></div>
            <div class="my-title-suf">
              <div class="title-text2-temp">{{$t('i18n.details')}}</div>
              <div class="title-icon2-temp">
                <i class="el-icon-d-arrow-right"/>
              </div>
            </div>
          </div>
          <el-card shadow="hover" class="full-height">
            <div class="my-content-temp">
              <div class="line">
                <div class="refresh-icon">
                  <i class="el-icon-refresh"/>
                </div>
              </div>
              <div class="airplane-pic">
                <div class="pic"></div>
              </div>
              <div class="airplane-name">
                精灵PHANTOM 4RTK
              </div>
              <div class="fly-info">
                <div class="item">
                  <div class="fly-distance">飞行里程（km）</div>
                  <div class="distance">3680</div>
                </div>
                <div class="item">
                  <div class="fly-time">飞行时间（h）</div>
                  <div class="hours">1860</div>
                </div>
              </div>
            </div>
          </el-card>
        </div>
      </el-col>
      <el-col :span="7">
        <div class="my-airplane-manage">
          <div class="my-title-temp">
            <div class="my-title-pre">
              <div class="title-icon1-temp">
                <div class="airplane-icon"></div>
              </div>
              <div class="title-text1-temp">{{$t('i18n.planeManagement')}}</div>
            </div>
            <div class="title-flex1-temp"></div>
            <div class="my-title-suf">
              <div class="title-text2-temp">{{$t('i18n.details')}}</div>
              <div class="title-icon2-temp">
                <i class="el-icon-d-arrow-right"></i>
              </div>
            </div>
          </div>
          <el-card shadow="hover" class="full-height">
            <div class="my-content-temp">
              <div class="round1">
                <div class="circle">
                  <a>
                    <span>60</span>架<br/>
                    在库飞机
                  </a>
                </div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round2">
                <div class="circle">
                  <a>
                    <span>10</span>个<br/>
                    飞行班组
                  </a>
                </div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round3">
                <div class="circle">
                  <a>
                    <span>40</span>架<br/>
                    执行任务
                  </a>
                </div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round4">
                <div class="circle">
                  <a>
                    <span>10</span>个<br/>
                    飞机机长
                  </a>
                </div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round5">
                <div class="circle">
                  <a></a>
                </div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round6">
                <div class="circle">
                  <a>
                    <span>10</span>个<br/>
                    飞机飞手
                  </a>
                </div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round7">
                <div class="circle">
                  <a>
                    <span>100</span>架<br/>
                    全部飞机
                  </a>
                </div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round8">
                <div class="circle"></div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round">
                <div class="circle"></div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round">
                <div class="circle"></div>
                <div class="circle_bottom animation "></div>
                <div class="circle_bottom2 animation2 "></div>
              </div>
              <div class="round">
                <div class="circle"></div>
              </div>
              <div class="round">
                <div class="circle"></div>
              </div>
              <div class="round">
                <div class="circle"></div>
              </div>
            </div>
          </el-card>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <div class="chart1">
          <div class="my-title-temp">
            <div class="my-title-pre">
              <div class="title-icon1-temp">
                <div class="statistics-icon"></div>
              </div>
              <div class="title-text1-temp">{{$t('i18n.workStatistics')}}</div>
            </div>
            <div class="title-flex1-temp"></div>
            <div class="my-title-suf">
              <div class="title-text2-temp">{{$t('i18n.details')}}</div>
              <div class="title-icon2-temp">
                <i class="el-icon-d-arrow-right"/>
              </div>
            </div>
          </div>
        </div>
        <el-card shadow="hover">
          <div class="full-height" v-loading="formChart1.loadingOpt">
            <e-charts v-if="optionLine" :opt="optionLine"/>
          </div>
        </el-card>
      </el-col>
      <el-col :span="12">
        <div class="chart2">
          <div class="my-title-temp">
            <div class="my-title-pre">
              <div class="title-icon1-temp">
                <div class="statistics-icon"></div>
              </div>
              <div class="title-text1-temp">{{$t('i18n.planeStatistics')}}</div>
            </div>
            <div class="title-flex1-temp"></div>
            <div class="my-title-suf">
              <div class="title-text2-temp">{{$t('i18n.details')}}</div>
              <div class="title-icon2-temp">
                <i class="el-icon-d-arrow-right"/>
              </div>
            </div>
          </div>
        </div>
        <el-card shadow="hover">
          <div class="full-height" v-loading="formChart2.loadingOpt">
            <e-charts v-if="optionBar" :opt="optionBar"/>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <div class="chart3">
          <div class="my-title-temp">
            <div class="my-title-pre">
              <div class="title-icon1-temp">
                <div class="statistics-icon"></div>
              </div>
              <div class="title-text1-temp">{{$t('i18n.dataStatistics')}}</div>
            </div>
            <div class="title-flex1-temp"></div>
            <div class="my-title-suf">
              <div class="title-text2-temp">{{$t('i18n.details')}}</div>
              <div class="title-icon2-temp">
                <i class="el-icon-d-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <el-card shadow="hover">
          <div class="full-height" v-loading="formChart3.loadingOpt">
            <e-charts v-if="optionRing" :opt="optionRing"/>
          </div>
        </el-card>
      </el-col>
      <el-col :span="12">
        <div class="chart4">
          <div class="my-title-temp">
            <div class="my-title-pre">
              <div class="title-icon1-temp">
                <div class="statistics-icon"></div>
              </div>
              <div class="title-text1-temp">{{$t('i18n.defectType')}}</div>
            </div>
            <div class="title-flex1-temp"></div>
            <div class="my-title-suf">
              <div class="title-text2-temp">{{$t('i18n.details')}}</div>
              <div class="title-icon2-temp">
                <i class="el-icon-d-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <el-card shadow="hover">
          <div class="full-height" v-loading="formChart1.loadingOpt">
            <e-charts v-if="optionPie" :opt="optionPie"/>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import ECharts from '@/components/ECharts'
  import './css/circleFlash.css'
  import {
    optionLine, getOptLine,
    optionBar, getOptBar,
    optionRing, getOptRing,
    optionPie, getOptPie
  } from './opt/option'
  // import ECharts from '../components/ECharts'

  export default {
    name: 'homePage',
    data () {
      return {
        i18nIsZh: '',
        searchText: '',
        name: localStorage.getItem('ms_username'),
        searchLoading1: false,
        tableData: [
          {
            num: '1',
            time: '2018/09/04',
            content: '线路巡查飞行任务',
            line: '线路：北金线#D1#10',
            value: '已完成'
          },
          {
            num: '2',
            time: '2018/09/05',
            content: '线路巡查飞行任务',
            line: '线路：北金线#c1#11',
            value: '已完成'
          }
        ],
        formChart1: {
          loadingOpt: false
        },
        formChart2: {
          loadingOpt: false
        },
        formChart3: {
          loadingOpt: false
        },
        formChart4: {
          loadingOpt: false
        },
        optionLine,
        optionBar,
        optionRing,
        optionPie,
      }
    },
    components: {
      ECharts
    },
    computed: {},
    watch: {
      i18nIsZh (newVal) {
        if (newVal) {
          this.$i18n.locale = 'zh-cn'
        } else {
          this.$i18n.locale = 'en'
        }
      }
    },
    methods: {
      getChart1 () {},
      changeDate () {}
    },
    mounted () {
      this.i18nIsZh = true
    }
  }
</script>

<style scoped lang="scss">
  .home-page {

    .search-part {
      display: flex;
      justify-content: center;
      align-items: center;

      .input-bar > > > input {
        /*该样式在scoped下无法生效*/
        border-radius: 20px;
      }

      .user-bar {
        box-sizing: border-box;
        cursor: pointer;

        div {
          display: inline-block;
          height: 14px;
          line-height: 14px;
          font-size: 12px;
          margin: 0 4px;
          color: #666;
        }

        .user-tip-icon {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #1f2f3d;
          vertical-align: middle;
        }
      }
    }

    .my-work-part {
      .my-content-temp {
        height: 320px;

        .flex-ul {
          background: #f7f7f7;
          border-radius: 8px;
          margin-bottom: 20px;
          padding: 8px 0;
          overflow: auto;

          &:hover {
            color: white;
            background: #5c85f8;
            box-shadow: 0 3px 10px 0 rgba(84, 81, 81, 0.23);
          }
        }

        .flex-li {
          width: 22%;
        }

        .box-border {
          width: 30%; /*要显示文字的宽度*/
          text-overflow: ellipsis; /*让截断的文字显示为点点。还有一个值是clip意截断不显示点点*/
          white-space: nowrap; /*让文字不换行*/
          overflow: hidden; /*超出要隐藏*/
          /*&:hover{*/
          /*  white-space: normal;*/
          /*  overflow: auto;*/
          /*}*/
        }
      }
    }

    .my-airplane-part {
      .airplane-icon {
        width: 40px;
        height: 20px;
        background-image: url("./imgs/airplaneIcon.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .my-content-temp {
        height: 320px;

        .line {
          position: relative;

          .refresh-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
          }
        }

        .airplane-pic {
          padding-top: 44px;

          .pic {
            width: 190px;
            height: 89px;
            background-image: url("./imgs/airplane1.png");
            background-size: contain;
            margin: auto;

          }
        }

        .airplane-name {
          font-size: 18px;
          font-family: Source Han Sans CN, Source Han Sans CN-Light;
          font-weight: 300;
          text-align: center;
          color: #020202;
          padding-top: 20px;
        }

        .fly-info {
          display: flex;
          align-content: center;
          justify-content: space-around;
          padding-top: 40px;

          .item {
            width: 40%;
            text-align: center;

            .fly-distance, .fly-time {
              font-size: 16px;
              font-family: Source Han Sans CN, Source Han Sans CN-Light;
              font-weight: 300;
              color: #020202;
            }

            .distance, .hours {
              font-size: 38px;
              font-family: Source Han Sans CN, Source Han Sans CN-Bold;
              font-weight: 700;
              color: #5c85f8;
            }

            .hours {
              color: #3bbd73;
            }
          }
        }
      }
    }

    .my-airplane-manage {
      .airplane-icon {
        width: 40px;
        height: 20px;
        background-image: url("./imgs/airplaneIcon.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .my-content-temp {
        height: 320px;
        position: relative;
      }
    }

    .statistics-icon {
      width: 20px;
      height: 20px;
      background-image: url("./imgs/statisticsIcon.png");
      background-size: cover;
    }
  }

  .el-row {
    margin-bottom: 20px;
  }

  .grid-content {
    display: flex;
    align-items: center;
    height: 100px;
  }

  .grid-cont-right {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #999;
  }

  .grid-num {
    font-size: 30px;
    font-weight: bold;
  }

  .grid-con-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
  }

  .grid-con-1 .grid-con-icon {
    background: rgb(45, 140, 240);
  }

  .grid-con-1 .grid-num {
    color: rgb(45, 140, 240);
  }

  .grid-con-2 .grid-con-icon {
    background: rgb(100, 213, 114);
  }

  .grid-con-2 .grid-num {
    color: rgb(45, 140, 240);
  }

  .grid-con-3 .grid-con-icon {
    background: rgb(242, 94, 67);
  }

  .grid-con-3 .grid-num {
    color: rgb(242, 94, 67);
  }

  .user-info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
  }

  .user-avator {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .user-info-cont {
    padding-left: 50px;
    flex: 1;
    font-size: 14px;
    color: #999;
  }

  .user-info-cont div:first-child {
    font-size: 30px;
    color: #222;
  }

  .user-info-list {
    font-size: 14px;
    color: #999;
    line-height: 25px;
  }

  .user-info-list span {
    margin-left: 70px;
  }

  .mgb20 {
    margin-bottom: 20px;
  }

  .todo-item {
    font-size: 14px;
  }

  .todo-item-del {
    text-decoration: line-through;
    color: #999;
  }

  .echart {
    width: 100%;
    height: 300px;
  }
</style>
