<template>
  <div class="login-wrap">
    <div class="login-bg"></div>
    <div class="login-airplane"></div>
    <div class="ms-login">
      <div class="login-hello"></div>
      <div class="ms-title">
        <span class="welcome">{{$t('i18n.welcome')}}</span>
        <span class="title">{{$t('i18n.title')}}</span>
      </div>
      <el-form :model="param" :rules="rules" ref="login" label-width="0px" class="ms-content">
        <el-form-item prop="username">
          <el-input v-model="param.username" :placeholder="$t('i18n.username')">
            <template #prepend>
              <el-button icon="el-icon-user"></el-button>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
                  type="password"
                  :placeholder="$t('i18n.password')"
                  v-model="param.password"
                  @keyup.enter="submitForm()"
          >
            <template #prepend>
              <el-button icon="el-icon-lock"></el-button>
            </template>
          </el-input>
        </el-form-item>
        <div class="login-btn">
          <el-button type="primary" @click="submitForm()">{{$t('i18n.login')}}</el-button>
        </div>
        <p class="login-tips">{{$t('i18n.tip')}}</p>
      </el-form>
    </div>
    <div class="login-copyright">版权所有 ©</div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        param: {
          username: 'admin',
          password: '123123'
        },
        rules: {
          username: [
            {required: true, message: '请输入用户名', trigger: 'blur'}
          ],
          password: [
            {required: true, message: '请输入密码', trigger: 'blur'}
          ]
        }
      }
    },
    created () {
      this.$store.commit('clearTags')
    },
    methods: {
      submitForm () {
        this.$refs.login.validate(valid => {
          if (valid) {
            this.$message.success('登录成功')
            localStorage.setItem('ms_username', this.param.username)
            this.$router.push('/')
          } else {
            this.$message.error('请输入账号和密码')
            return false
          }
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .login-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
  }

  .login-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 1250px;
    height: 980px;
    background-image: url(../assets/img/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-airplane {
    position: absolute;
    top: 60%;
    left: 34%;
    width: 564px;
    height: 288px;
    background-image: url(../assets/img/login-airplane.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ms-login {
    position: absolute;
    top: 180px;
    left: 120px;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
  }

  .login-hello {
    width: 196px;
    height: 62px;
    background-image: url(../assets/img/login-hello.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ms-title {
    margin-top: 40px;
    font-size: 20px;
    font-family: Alibaba PuHuiTi, Alibaba PuHuiTi-Regular;
    font-weight: 400;
    letter-spacing: -2px;
    .welcome{
      color: #969696;
    }
    .title{
      padding-left: 4px;
      color: #1669FF;
    }
  }

  .ms-content {
    padding: 30px 0;
    .el-form-item{
      margin-top: 20px;
      padding-bottom: 20px;
    }
  }

  .login-btn {
    text-align: left;
  }

  .login-btn button {
    width: 160px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(270deg,#095cff 0%, #68a9fd 100%);
    border-radius: 35px;
  }

  .login-tips {
    font-size: 12px;
    line-height: 30px;
    color: #888;
  }

  .login-copyright{
    position: fixed;
    left: 120px;
    bottom: 60px;
    font-size: 12px;
    font-family: Alibaba PuHuiTi, Alibaba PuHuiTi-Regular;
    font-weight: 400;
    text-align: left;
    color: #cacaca;
    letter-spacing: -1px;
  }
</style>
