<template>
  <div class="sidebar">
    <div class="user-icon">
      <div class="icon"></div>
      <div class="user-name">
        {{$t('i18n.userTitle')}}<br>
        — IDLS For Grid —
      </div>
    </div>
    <el-menu
            class="sidebar-el-menu"
            :default-active="onRoutes"
            :collapse="collapse"
            background-color="transparent"
            text-color="#fff"
            active-text-color="#3364f0"
            unique-opened
            router
    >
      <template v-for="item in items">
        <template v-if="item.subs">
          <el-submenu :index="item.index" :key="item.index">
            <template #title>
              <i :class="item.icon"></i>
              <span>{{ $t(`i18n.${item.title}`) }}</span>
            </template>
            <template v-for="subItem in item.subs">
              <el-submenu
                      v-if="subItem.subs"
                      :index="subItem.index"
                      :key="subItem.index"
              >
                <template #title>
                  <div class="subItem-li">
                    {{ $t(`i18n.${subItem.title}`) }}
                  </div>
                </template>
                <el-menu-item
                        v-for="(threeItem, i) in subItem.subs"
                        :key="i"
                        :index="threeItem.index"
                >{{ $t(`i18n.${threeItem.title}`) }}
                </el-menu-item>
              </el-submenu>
              <el-menu-item
                      v-else
                      :index="subItem.index"
                      :key="subItem.index"
              >{{ $t(`i18n.${subItem.title}`) }}
              </el-menu-item>
            </template>
          </el-submenu>
        </template>
        <template v-else>
          <el-menu-item :index="item.index" :key="item.index">
            <i :class="item.icon"></i>
            <template #title>{{ $t(`i18n.${item.title}`) }}</template>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>

<script>
  import menus from '../assets/js/menus'
  // import bus from "../common/bus";
  export default {
    data () {
      return {
        items: []
      }
    },
    computed: {
      onRoutes () {
        return this.$route.path.replace('/', '')
      },
      collapse () {
        return this.$store.state.collapse
      }
    },
    mounted () {
      this.items = menus.list
    }
  }
</script>

<style scoped lang="scss">
  .sidebar {
    display: block;
    width: 240px;
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    overflow-y: scroll;
    opacity: 1;
    background: linear-gradient(0deg, #3962d5 0%, #3364f0 50%, #5c85f8 100%);
    border-radius: 0;

    .el-menu-item.is-active {
      color: #5c85f8;
      /*background: #edeeef !important;*/
      margin-left: 30px;
      height: 66px;
      width: 240px;
      background: url("../assets/img/menuActive.png") 100% 100% no-repeat !important;
      overflow: hidden;
    }

    li > ul > .el-menu-item{
      margin-left: 30px;
    }
  }

  .sidebar::-webkit-scrollbar {
    width: 0;
  }

  .sidebar-el-menu:not(.el-menu--collapse) {
    width: 240px;
  }

  .sidebar > ul {
    height: 100%;
  }

  .user-icon {
    margin-top: 32px;
    padding: 8px;
    border-bottom-right-radius: 2px;

    .icon {
      height: 100px;
      width: 100px;
      background-size: 100%;
      background-image: url("../assets/img/userIcon.png");
      background-repeat: no-repeat;
      margin: auto;
    }

    .user-name {
      margin-top: 24px;
      font-size: 18px;
      font-family: Microsoft YaHei, Microsoft YaHei-Bold;
      font-weight: 700;
      text-align: center;
      color: #ffffff;
      letter-spacing: -1px;
    }
  }

</style>
