.round1:nth-child(1) {
    position: absolute;
    padding: 13px;
    left: 20px;
    top: 9px;
}

.round1:nth-child(1) div {
    background: #3a96e1;
}

.round1:nth-child(1) div:first-child {
    width: 100px;
    height: 100px;
}

.round1:nth-child(1) div:first-child a {
    line-height: 24px;
    display: block;
    margin-top: 24px;
}

.round1:nth-child(1) div:nth-child(2) {
    width: 100px;
    height: 100px;
}

.round1:nth-child(1) div:last-child {
    width: 110px;
    height: 110px;
}

.round2:nth-child(2) {
    position: absolute;
    left: 176px;
    top: 0;
    padding: 13px;
}

.round2:nth-child(2) div {
    background: #c1bd57;
}

.round2:nth-child(2) div:first-child a {
    line-height: 24px;
    display: block;
    margin-top: 24px;
}

.round3:nth-child(3) {
    position: absolute;
    left: 9px;
    top: 119px;
    padding: 13px;
}

.round3:nth-child(3) div {
    background: #d67c61;
}

.round3:nth-child(3) div:first-child {
    width: 90px;
    height: 90px;
}

.round3:nth-child(3) div:first-child a {
    line-height: 20px;
    display: block;
    margin-top: 20px;
}

.round3:nth-child(3) div:nth-child(2) {
    width: 90px;
    height: 90px;
}

.round3:nth-child(3) div:last-child {
    width: 100px;
    height: 100px;
}

.round4:nth-child(4) {
    position: absolute;
    left: 230px;
    top: 110px;
    padding: 13px;
}

.round4:nth-child(4) div:first-child a {
    line-height: 25px;
    display: block;
    margin-top: 25px;
}

.round4:nth-child(4) div {
    background: #4a36c2;
}

.round4:nth-child(4) div:first-child {
    width: 100px;
    height: 100px;
}

.round4:nth-child(4) div:nth-child(2) {
    width: 100px;
    height: 100px;
}

.round4:nth-child(4) div:last-child {
    width: 110px;
    height: 110px;
}

.round5:nth-child(5) {
    position: absolute;
    left: 39px;
    top: 264px;
    padding: 13px;
}

.round5:nth-child(5) div:first-child {
    width: 20px;
    height: 20px;
}

.round5:nth-child(5) div:first-child a {
    line-height: 24px;
    display: block;
    margin-top: 25px;
}

.round5:nth-child(5) div:nth-child(2) {
    width: 20px;
    height: 20px;
}

.round5:nth-child(5) div:last-child {
    width: 30px;
    height: 30px;
}
.round5:nth-child(5) div {
    background: #3338c1;
}

.round6:nth-child(6) {
    position: absolute;
    left: 305px;
    top: 210px;
    padding: 13px;
}

.round6:nth-child(6) div:first-child a {
    line-height: 24px;
    display: block;
    margin-top: 25px;
}

.round6:nth-child(6) div {
    background: #307cc2;
}

.round7:nth-child(7) {
    position: absolute;
    left: 118px;
    top: 191px;
    padding: 13px;
}

.round7:nth-child(7) div {
    background: #a45;
}

.round7:nth-child(7) div:first-child a {
    line-height: 30px;
    display: block;
    margin-top: 30px;
}
.round7:nth-child(7) div:first-child {
    width: 120px;
    height: 120px;
}

.round7:nth-child(7) div:nth-child(2) {
    width: 120px;
    height: 120px;
}

.round7:nth-child(7) div:last-child {
    width: 130px;
    height: 130px;
}

.round8:nth-child(8) {
    position: absolute;
    left: 340px;
    top: 103px;
    padding: 13px;
}

.round8:nth-child(8) div:first-child {
    width: 30px;
    height: 30px;
}

.round8:nth-child(8) div:first-child a {
    line-height: 30px;
    font-size: 16px;
}

.round8:nth-child(8) div:nth-child(2) {
    width: 30px;
    height: 30px;
}

.round8:nth-child(8) div:last-child {
    width: 40px;
    height: 40px;
}
.round8:nth-child(8) div {
    background: #00a854;
}

.round:nth-child(9) {
    position: absolute;
    left: 339px;
    top: 13px;
    padding: 13px;
}

.round:nth-child(9) div {
    background: #307cc2;
}

.round:nth-child(9) div:first-child {
    width: 30px;
    height: 30px;
}

.round:nth-child(9) div:nth-child(2) {
    width: 30px;
    height: 30px;
}

.round:nth-child(9) div:last-child {
    width: 40px;
    height: 40px;
}

.round:nth-child(10) {
    position: absolute;
    left: 110px;
    top: 145px;
    padding: 13px;
}

.round:nth-child(10) div {
    background: #2663a4;
}

.round:nth-child(10) div:first-child {
    width: 40px;
    height: 40px;
}

.round:nth-child(10) div:nth-child(2) {
    width: 40px;
    height: 40px;
}

.round:nth-child(10) div:last-child {
    width: 50px;
    height: 50px;
}

.round:nth-child(11) {
    position: absolute;
    left: 149px;
    top: 105px;
    padding: 26px;
}

.round:nth-child(11) div {
    background: #f56c6c;
}

.round:nth-child(11) div:first-child {
    width: 20px;
    height: 20px;
}

.round:nth-child(12) {
    position: absolute;
    left: 326px;
    top: 49px;
    padding: 26px;
}

.round:nth-child(12) div {
    background: #7e4c4f;
}

.round:nth-child(12) div:first-child {
    width: 10px;
    height: 10px;
}

.round:nth-child(13) {
    position: absolute;
    left: 267px;
    top: 260px;
    padding: 30px;
}

.round:nth-child(13) div {
    background: #0e295d;
}

.round:nth-child(13) div:first-child {
    width: 30px;
    height: 30px;
}

.round:nth-child(12) {
    position: absolute;
    left: 256px;
    top: 233px;
    padding: 30px;
}

.round:nth-child(12) div {
    background: #1e539e;
}

.round:nth-child(12) div:first-child {
    width: 20px;
    height: 20px;
}

.circle a {
    font-size: 18px;
    line-height: 100px;
    color: #000735;
    font-weight: bold;
}

.circle {
    background: #3a96e1;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    z-index: 999;
    text-align: center;
    top: 18px;
    left: 18px;
    position: absolute;
}

.circle_bottom {
    background: rgba(58, 150, 225, 0.4);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    filter: alpha(opacity=40);
    z-index: 1;
    position: absolute;
    top: 18px;
    left: 18px;
}

.circle_bottom2 {
    background: rgba(58, 150, 225, 0.2);
    border-radius: 100%;
    width: 110px;
    height: 110px;
    filter: alpha(opacity=20);
    z-index: 2;
    position: relative;
}

.animation {
    -webkit-animation: twinkling 2.1s infinite ease-in-out;
    animation: twinkling 2.1s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animation2 {
    -webkit-animation: twinkling 2.1s infinite ease-in-out;
    animation: twinkling 2.1s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes twinkling {
    0% {
        opacity: 0.2;
        filter: alpha(opacity=20);
        -webkit-transform: scale(1);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
        -webkit-transform: scale(1.12);
    }

    100% {
        opacity: 0.2;
        filter: alpha(opacity=20);
        -webkit-transform: scale(1);
    }
}

@keyframes twinkling {
    0% {
        opacity: 0.2;
        filter: alpha(opacity=20);
        -webkit-transform: scale(1);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
        -webkit-transform: scale(1.12);
    }

    100% {
        opacity: 0.2;
        filter: alpha(opacity=20);
        -webkit-transform: scale(1);
    }
}
