<template>
  <div>
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App',
    components: {}
  }
</script>

<style>
  @import "./assets/css/main.css";
  @import "./assets/css/color-dark.css";
</style>
