<template>
  <div class="pic-browse">
    <div v-viewer="options" class="images" ref="viewer">
      <template v-for="(image,index) in images">
        <img
          :src="image.thumbnail" class="image" :key="index"
          :data-src="image.source"
        >
      </template>
    </div>
  </div>
</template>

<script>
  // import ECharts from '../components/ECharts'
  const sourceImages = []
  const base = parseInt((Math.random() * 60), 10) + 10
  for (let i = 0; i < 5; i++) {
    sourceImages.push({
      thumbnail: `https://picsum.photos/id/${base + i}/300/200`, // 缩略图
      source: `https://picsum.photos/id/${base + i}/600/400` // 原图
    })
  }
  export default {
    name: 'PicBrowse',
    data () {
      return {
        viewer: null,
        options: {
          url: 'data-src'
        },
        images: sourceImages
      }
    },
    components: {},
    computed: {},
    watch: {},
    methods: {
      init () {
        this.viewer = this.$refs.viewer
        console.log('method this.viewer', this.viewer)
        setTimeout(()=>{
          this.initCanvas()
        },100)
      },
      initCanvas () {
        let dom = document.getElementsByClassName('viewer-canvas')
        if (dom.length > 0) {
          console.log('method dom', dom)
        }
      }
    },
    mounted () {
      this.init()
    }
  }
</script>

<style lang="scss" scoped>
  .image {
    height: 200px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
  }
</style>

<style>
  .viewer-canvas::before {
    content: ' < ';
    width: 90px;
    height: 900px;
    line-height: 900px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: linear-gradient(0, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%);
    opacity: 0.5;
    font-weight: bold;
    font-size: 90px;
    pointer-events: auto;
  }

  .viewer-canvas::after {
    content: ' > ';
    width: 90px;
    height: 900px;
    line-height: 900px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background: linear-gradient(0, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 0.5;
    font-weight: bold;
    font-size: 90px;
    pointer-events: auto;
  }

  .viewer-toolbar > ul {
    text-align: center;
  }

  .viewer-toolbar > ul > li {
    margin: 0 4px;
    opacity: 0.5;
  }

  .viewer-toolbar > ul > li::before {
  }

  .viewer-navbar > ul > li {
    margin: 0 4px;
  }
</style>
